* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
body {
	background-color: lightblue;
}
header h2 {
	text-align: center;
}
p {
	margin-bottom:5%;
}
img {
	margin-bottom: 10%;
	margin-left: 10%;
}